<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
        <!-- Circles background -->
        <div class="shape shape-style-1 shape-primary alpha-4">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="card card-profile shadow mt--300">
                <div class="px-4">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image">
                                <img [src]="organization.image" class="rounded-circle" style="width: 400px; height: 200px">                            </div>
                        </div>
                        <div class="col-lg-4 order-lg-3 align-self-lg-center">
                            <div class="py-4 mt-lg-0">
                                <button *ngIf="userConnected" (click)="deleteMyself()" class="btn btn-sm btn-danger">
                                    <i class="fa fa-times"></i> Delete Account
                                </button>
                                <a *ngIf="userConnected" [routerLink]="['/organization-manage-profile']"
                                   class="btn btn-sm btn-default float-right">
                                    <i class="ni ni-settings-gear-65"></i>
                                    Manage Profile
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 order-lg-1">
                            <div class="card-profile-stats d-flex justify-content-center">
                                <div>
                                    <span class="heading">{{organization.followers}}</span>
                                    <span class="description">Followers</span>
                                </div>
                                <div>
                                    <span class="heading">{{organization.events}}</span>
                                    <span class="description">Events</span>
                                </div>
                                <div>
                                    <span class="heading">{{organization.sponsors}}</span>
                                    <span class="description">Comments</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-5">
                        <h3>{{organization.name}}</h3>
                        <div class="h6 mt-4"><i class="ni ni-world mr-2"></i>{{organization.activity}}</div>
                        <div><a href="#"><i class="ni ni-square-pin mr-2"></i>{{organization.city}}, {{organization.country}}</a>
                        </div>
                    </div>
                    <div class="mt-5 py-5 border-top border-bottom text-center">
                        <div class="mb-3">
                            <h6 class="text-uppercase font-weight-bold">{{organization.slogan}}</h6>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-9">
                                <p>
                                    {{organization.description}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>