<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <img src="./assets/img/brand/longLogo.png">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="./assets/img/brand/blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item">
          <a routerLinkActive="active" [routerLink]="['home']" class="nav-link no-caret">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <ul class="navbar-nav navbar-nav-hover align-items-lg-center ml-lg-auto">
            <li class="nav-item dropdown">
              <a class="nav-link "  data-toggle="dropdown" title="Events">
                <span class="nav-link-inner--text mb-md-1" routerLinkActive="active" [routerLink]="['events']">Event</span>

              </a>


              <div *ngIf="loginService.isLoggedIn && isOrganizer" class=" dropdown-menu">
                <div class="dropdown-menu-sm">
                  <a [routerLink]="['/add']" class="align-items-center dropdown-item">

                    <div class="ml-2" style="padding-top: 10px">

                      <h6 class="text-gray-dark right"><i class="fa fa-plus" style="padding-right:15px "></i>add event</h6>
                    </div>
                  </a>

                </div>
              </div>
            </li>

          </ul>

        </li>
        <li class="nav-item">
          <a routerLinkActive="active" [routerLink]="['organizations']" class="nav-link no-caret">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Organizations</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" [routerLink]="['sponsors']" class="nav-link no-caret">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Sponsors</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" [routerLink]="['about-us']" class="nav-link no-caret">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">About Us</span>
          </a>
        </li>
      </ul>
      <ul *ngIf="loginService.isLoggedIn()" class="navbar-nav ml-auto" style="padding-left: 6rem;">
        <li class="nav-item">
          <a class="nav-link nav-link-icon">
            <i class="ni ni-single-02" style="padding-right: 0.5rem;"></i>
            <span>Hello {{userConnected}}</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center ml-lg-auto">
        <li class="nav-item dropdown">
          <a class="nav-link btn-success" *ngIf="!loginService.isLoggedIn()" data-toggle="dropdown" title="Get Started" role="button">
            <span class="nav-link-inner--text mb-md-1">Get Started</span>
          </a>


          <div class="dropdown-menu-lg dropdown-menu">
            <div class="dropdown-menu-inner">
              <a [routerLink]="['/login']" class="media d-flex align-items-center dropdown-item">
                <div class="icon icon-shape bg-gradient-orange rounded-circle text-white">
                  <i class="ni ni-button-power"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-gray-dark mb-md-1">Log In</h6>
                </div>
              </a>
              <button class="media d-flex align-items-center dropdown-item" (click)="openDialog()">
                <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                  <i class="ni ni-single-02"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-gray-dark mb-md-1" >Register</h6>
                </div>
              </button>
            </div>
          </div>
        </li>
        <div *ngIf="loginService.isLoggedIn()">
        <a class="nav-link btn-success"   role="button">

          <span class="nav-link-inner--text mb-md-1" (click)="logout()">Logout </span>
        </a>

        </div>
      </ul>
    </div>
  </div>
</nav>
