/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.myapp-no-padding-dialog .mat-dialog-container {
    padding: 0;
    background-color: #0c85d0;
    overflow-x: hidden !important;

}

