<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
        <!-- Circles background -->
        <div class="shape shape-style-1 shape-primary alpha-4">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="card card-profile shadow mt--300">
                <div class="px-4">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image">
                                <img src={{sponsor.image}} class="rounded-circle">
                            </div>
                        </div>
                        <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                            <div class="card-profile-actions py-4 mt-lg-0">
                                <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">
                                    <i class="ni ni-world-2"></i> Contact
                                </a>
                                <a [routerLink]="['/sponsor-manage-profile']"
                                   class="btn btn-sm btn-default float-right">
                                    <i class="ni ni-settings-gear-65"></i>
                                    Manage Profile
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 order-lg-1">
                            <!-- Problem with css .card !!
                            <div class="card-profile-stats d-flex justify-content-center">
                                <div>
                                    <span class="heading">22</span>
                                    <a href="#"><span class="description" placement="bottom"
                                                      ngbTooltip="Show the events sponsored previously">Events</span></a>
                                </div>
                                <div>
                                    <span class="heading">10</span>
                                    <a href="#"><span class="description" placement="bottom" ngbTooltip="Show comments">Comments</span></a>
                                </div>
                                <div>
                                    <span class="heading">5</span>
                                    <a href="#"><span class="description" placement="bottom"
                                                      ngbTooltip="Show the average rate">Rate</span></a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="text-center mt-5">
                        <h3>{{sponsor.name}}</h3>
                        <div class="h6 mt-4"><i class="ni ni-building mr-2"></i>Activity ! tetzed BD!!</div>
                        <div><a href="#"><i class="ni ni-square-pin mr-2"></i>{{sponsor.city}}, {{sponsor.country}}</a>
                        </div>
                    </div>
                    <div class="mt-5 py-5 border-top border-bottom text-center">
                        <div class="mb-3">
                            <h6 class="text-uppercase font-weight-bold">{{sponsor.slogan}}</h6>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-9">
                                <p>
                                    {{sponsor.description}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="profile-details" class="container">
                        <div class="row justify-content-center">
                            <div *ngFor="let element of elements;" class=" col-lg-4 ">
                                <app-upcoming-event [description]="element.description" [eventPhoto]="element.img"
                                                    [title]="element.title"></app-upcoming-event>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <nav aria-label="Page navigation example">
                                <ngb-pagination [collectionSize]="totalItems" [(page)]="page"
                                                (pageChange)="loadPage($event)" aria-label="Default pagination">
                                    <ng-template ngbPaginationPrevious><i _ngcontent-c9="" class="fa fa-angle-left"></i>
                                    </ng-template>
                                    <ng-template ngbPaginationNext><i _ngcontent-c9="" class="fa fa-angle-right"></i>
                                    </ng-template>
                                </ngb-pagination>
                            </nav>
                        </div>
                        <div class="row">comments !</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

