<main>
    <div class="position-relative">
        <!-- Hero for FREE version -->
        <section class="section section-lg section-hero section-shaped">
            <!-- Background circles -->
            <div class="shape shape-style-1 shape-primary">
                <span class="span-150">
                    </span>
                <span class="span-50"></span>
                <span class="span-50"></span>
                <span class="span-75"></span>
                <span class="span-100"></span>
                <span class="span-75"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <div>
                <div class="container justify-content-center">
                    <div class="row justify-content-center">
                    <div *ngFor="let event of events ;let index = index;" class="col-lg-12 mt-4 mt-lg-0">
                        <div class="navbar navbar-expand-lg navbar-dark bg-gradient-white rounded">
                            <div class="container">
                                <div class=" col-4">
                                    <img [src]="event.image" class="img-fluid card-profile-image rounded shadow " >
                                </div>
                                <div class=" col-8 ">
                                    <br>
                                    <a class=" text-dark display-4" href="javascript:void(0)">{{event.name}}</a>
                                    <p class="lead text-muted">{{event.description}}</p>
                                    <div class="progress-wrapper">
                                        <div class="progress-info">
                                            <div class="progress-label">
                                                <span>Funding</span>
                                            </div>
                                            <div class="progress-percentage">
                                                <span>{{(event.fundings/event.budget)*100}}%</span>
                                            </div>
                                        </div>
                                        <ngb-progressbar type="default" [value]="(event.fundings/event.budget)*100"></ngb-progressbar>
                                    </div>
                                    <div  *ngIf="event.input" class="input-group mb-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-money-coins"></i></span>
                                        </div>
                                        <input required #budget  name="budget" ngModel class="form-control" placeholder="specify budget in dolar" type="number" (focus)="focus=true" (blur)="focus=false">
                                        <button class="btn btn-1 btn-neutral" type="button" (click)="Fund(index,budget.value)">FUND</button>

                                    </div>
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-inner-success" aria-controls="nav-inner-success" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                    <div class="collapse navbar-collapse" id="nav-inner-success">
                                        <div class="navbar-collapse-header">
                                            <div class="row">
                                                <div class="col-6 collapse-brand">
                                                    <a href="javascript:void(0)">
                                                        <img src="./assets/img/brand/blue.png">
                                                    </a>
                                                </div>
                                                <div class="col-6 collapse-close">
                                                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav-inner-success" aria-controls="nav-inner-success" aria-expanded="false" aria-label="Toggle navigation">
                                                        <span></span>
                                                        <span></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="navbar-nav ml-lg-auto">
                                            <li class="nav-item">
                                                <a class="nav-link text-dark nav-link-icon" href="javascript:void(0)">
                                                    <i class="ni ni-favourite-28"></i>
                                                    <span class="nav-link-inner--text d-lg-none">Discover</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-dark nav-link-icon" href="javascript:void(0)">
                                                    <i class="ni ni-notification-70"></i>
                                                    <span class="nav-link-inner--text d-lg-none">Profile</span>
                                                </a>
                                            </li>
                                            <li class="nav-item" ngbDropdown placement="bottom-right">
                                                <a class="nav-link  text-dark nav-link-icon no-caret" ngbDropdownToggle id="nav-inner-success_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="ni ni-settings-gear-65"></i>
                                                    <span class="nav-link-inner--text d-lg-none">Settings</span>
                                                </a>
                                                <div class="dropdown-menu-right" aria-labelledby="nav-inner-success_dropdown_1" ngbDropdownMenu>
                                                    <a class="dropdown-item" href="javascript:void(0) " (click)="inputOn(index)">Fund</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="javascript:void(0) " (click)="getSponsoringFile(index)">Download Sponsoring File</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                    </div>
            </div>
            </div>
            </div>
                </section>
    </div>
</main>
